* {
    padding: 0;
    margin: 0;
}

button, select {
    border-width: 0;
    border-radius: 0.4rem;
    padding: 0.2rem;
}

input, textarea {
    border-width: 0;
    border-radius: 0.4rem;
    background-color: #a7a0b76a;
    padding: 2px;
}

input.numeric {
    width: 4rem;
}

#parameters * {
}

#pattern-parameters, #component-parameters {
    display: grid;
    grid-template-columns: auto 1fr;
}

#component-location {
    display: grid;
}