* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;

}

button,
select {
    border-width: 0;
    border-radius: 0.4rem;
    padding: 0.2rem;
    background-color: #a7a0b7ba;
}

input,
textarea {
    border-width: 0;
    border-radius: 0.4rem;
    background-color: #a7a0b76a;
    padding: 2px;
}

input.numeric {
    min-width: 3rem;
}

#parameters, #tree-browser {
    background-color: #00000017;
    height: auto;
}

#pattern-parameters,
#component-parameters {
    display: grid;
    grid-template-columns: auto 1fr;
}

#component-location {
    display: grid;   
}

#component-location-direction-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#the-editor {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100vw;
    grid-template-rows: auto;
}

#pattern-size {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

#top-bar {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
#top-bar button {
    border-radius: 0;
    margin: 0;
}