* {
    padding: 0;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
}

label {
    padding-right: 5px;
}

input,
textarea,
button,
select {
    border-width: 0;
    border-radius: 0.4rem;
    background-color: #a7a0b76a;
    padding: 2px;
    margin: 1px 1px 0px 0px;
    outline: none;
}

#pattern-description {
    resize: vertical;
    height: 5rem;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    background-color: #84779b75;
}

input.numeric {
    min-width: 2rem;
}

#parameters,
#tree-browser {
    background-color: #00000017;
    height: auto;
    overflow-x: hidden;
}

.parameters-table {
    display: grid;
    grid-template-columns: auto 1fr;
}

#component-location {
    display: grid;
}

#component-location-direction-item {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    list-style: inside circle;
}

#the-editor {
    display: grid;
    grid-template-columns: 2fr 4fr 20rem;
    width: 100vw;
    grid-template-rows: auto;
}

#pattern-size {
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
}

#pattern-array-count,
#pattern-array-gap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#top-bar {
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: solid;
}
#top-bar button {
    border-radius: 0;
    margin: 0;
}

#parameters details > summary {
    background-color: #a7a0b76a;
    padding: 5px;
}

#parameters details[open] > summary {
    background-color: black;
    color: white;
}

#parameters details[open] > div {
    margin: 10px;
}

#component-location-add-segment {
    display: grid;
    grid-template-columns: auto 4fr;
}

.selected-browser-pattern > summary {
    font-weight: bold;
}

.selected-browser-pattern {
    background-color: #8b849b6a !important;
    transform: translate(1rem);
}

#pattern-count {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

#tree-browser .pattern {
    background-color: #a7a0b76a;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    padding-left: 10px;
}

#tree-browser .pattern:hover {
    transform: translate(1rem);
    background-color: #8b849b6a;
}

#tree-browser .component-ptr {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
}

#tree-browser .components {
    padding-left: 10px;
}

#tree-browser .pattern[open] {
    background-color: #8b849b6a;
}
